* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dark-theme {
  background: var(--black) !important;
  color: white;
}

nav a {
  border-bottom: solid 3px transparent;
  color: unset;
  padding-bottom: 2px;
  text-decoration: unset;
}

nav .active {
  border-bottom-color: var(--secondary);
}

nav a:hover {
  border-bottom-color: var(--secondary);
}

.sticky-top {
  background-color: white;
  position: sticky;
  top: 0;
  transition: all 500ms;
  z-index: 98;
}
