/* BIG SCREENS */
@media screen and (min-width: 1000px) {
  .serviceBlob {
    margin: 0 25px;
    max-width: 20vw;
  }
}

.serviceBlob {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
  min-width: 250px;
}

.serviceBlob p {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.025em;
  line-height: 1.5em;
  text-align: justify;
}

.serviceBlob p span {
  color: var(--secondary);
  cursor: pointer;
  font-weight: 700;
}

.title {
  align-items: center;
  gap: 10px;
  display: flex;
}

.title h2 {
  font-size: 28px;
  font-weight: 900;
}

.title .icon {
  font-size: 32px;
}
