/* SMALL SCREENS */
@media screen and (max-width: 800px) {
  .notificationBar {
    padding: 15px 25px;
  }
}

/* LARGE SCREENS */
@media screen and (min-width: 800px) {
  .notificationBar {
    padding: 15px 50px;
  }
  .notificationBar p span::after {
    content: " - our innovative suite of infrared products";
  }
}

.notificationBar {
  align-items: center;
  background-color: var(--black);
  color: white;
  display: flex;
  font-weight: 700;
  gap: 20px;
  justify-content: center;
}

.notificationBar a {
  white-space: nowrap;
}
