/* SMALL SCREENS */
@media screen and (max-width: 800px) {
  .topBar {
    padding: 25px;
  }
}

/* BIG SCREENS */
@media screen and (min-width: 800px) {
  .topBar {
    padding: 25px 100px;
  }
}

.icon {
  cursor: pointer;
  font-size: 32px;
}

.topBar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  overflow: visible;
  position: relative;
  user-select: none;
}

.topBar nav {
  align-items: center;
  display: flex;
  font-weight: 700;
  gap: 25px;
}
