.dropDown:hover > * {
  visibility: visible;
}

.dropDown a {
  align-items: center;
  display: flex;
  gap: 5px;
  position: relative;
}

.dropDown a span {
  font-size: 8px;
  color: gray;
}

.dropDown ul {
  background-color: var(--secondary-dark);
  color: white;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  gap: 10px;
  padding: 5px 0px;
  position: absolute;
  visibility: hidden;
}

.dropDown li {
  list-style: none;
  padding: 5px 50px 5px 15px;
}

.dropDown li:hover {
  background-color: var(--secondary);
}

.topBar {
  align-items: center;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 25px 100px;
  user-select: none;
}

.topBar nav {
  align-items: center;
  display: flex;
  font-weight: 700;
  gap: 25px;
}
