/* SMALL SCREENS */
@media screen and (max-width: 1000px) {
  .statsSection {
    background: var(--primary);
    flex-direction: column;
  }
}

/* BIG SCREENS */
@media screen and (min-width: 1000px) {
  .statsSection {
    background: url("./assets/arrow.svg"), var(--primary);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.statsSection {
  align-items: center;
  /* background-color: var(--primary); */

  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
